@import "utils";
@import "landing";
@import "album";
@import "collection";
@import "player_bar";

html { height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  min-height: 100%;
  padding-bottom: 150px;
  @include radial-gradient(#2b1339, #380c77);

  &.landing {
    background-color: $background-purple;
    padding-bottom: 0;
  }

  .navbar {
    margin-bottom: 0;
  }
}

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}