html { height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  min-height: 100%;
  background: -webkit-radial-gradient(  #2b1339, #380c77);
  background: radial-gradient(   #2b1339, #380c77);

  &.landing {
    background-color: #5B5579;
  }

  .navbar {
    margin-bottom: 0;
    background: #2c1231;
  }
}


.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;

  h1 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 50px;
  }
}

.selling-points {
  padding: 100px 0;

  .point {
    width: 32%;
    float: left;
    padding: 0 0.5%;

    h5 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      height: 85px;
    }

    p {
      font-size: 14px;
    }
  }
}

// Album Styles
.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px;
}

.album-header-information {
  margin-top: 45px;
  margin-bottom: 20px;

  h3, h4, h5 {
    line-height: 150%;
  }

  h3 {
    font-size: 48px;
    font-weight: 300;
  }

  h4 {
    font-size: 24px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
  }
}

.table {
  &.album-song-listing {
    font-weight: 300;

    td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, .4);
    }
  }
}



.collection-album-container {
   margin-top: 30px;
   margin-bottom: 20px;

  .caption {
    margin-top: 10px;

    p {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);

      a {
        color: rgba(255, 255, 255, 0.6);

        &.album-name {
          color: #fff;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }
}
